services:
  - type: web
    name: ecommerce-backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3001
      - key: NPM_CONFIG_LOGLEVEL
        value: error
      - key: NODE_OPTIONS
        value: --max-old-space-size=4096
